.sideBar{
    margin-left: 20px;
    height: 500px;
}

.clickState:hover{
    text-decoration: underline;
}
header {
    color: purple;
    margin: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
} 

main {
    display: flex;
}

#weather-input{
    margin: 20px;
}

input {
    border: 1px solid purple;
    box-sizing: 40px;
} 
 input, input::placeholder{
    text-align:center;
 }

 #national-parks-display {
    margin: 20px;
    border: 5px solid purple;
    height: 500px;
    width: 800px;
} 